@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo a minha pagina de Teste</h1>

    <p class="mais-sobre">Saiba mais sobre mim<a href="https://github.com/alexanderoliveira94" target="_blank"> No meu GITHUB</a>.</p>
</div>
